<html>
        <body>
                <form method="post" action="/process">
                    <div>
                        Name : <input type="text" name="name">
                        Age  : <input type="text" name="age" required> 
                        <input type="submit" name="btn" value="submit">
                    </div>
                </form>
        </body>
</html>